*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    min-width: 1000px;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: #fff;    
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    position: absolute;
    top: 20px;
    height: 21px;
    width: 100%;
}
header .player_logo{
    float: left;
    margin-left: 20px;
    opacity: 0.3;
}
header .player_logo:hover{
    opacity: 1;
}
header .player_logo .logo{
    width: 78px;
    height: 21px;
}
header .login_box{
    float: right;
    margin-right: 50px;
}
header .login_box a{
    margin-right: 6px;
    opacity: 0.3;
}
header .login_box a:hover{
    opacity: 1;
}
.main{
    position: relative;
    margin: 0 7.638889%;
    height: 100%;
    cursor: default;    
}
.main .player_left{
    position: absolute;
    top: 11%;
    left: 0;
    right: 440px;
    height: 78%;    
    color: rgba(225,225,225,.8);   
}
.main .player_left .player_buttom{
    margin-bottom: 20px;
}
.main .player_left .player_buttom span{
    border-radius: 2px;
    margin-right: 6px;
    padding: 0 23px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #c9c9c9;
    text-align: center;
    min-width: 122px;
    border-color: rgba(255,255,255,.2);
    color: #ffff;
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
}
.main .player_left .player_buttom span:hover{
    opacity: 1;
    border-color: rgba(255,255,255,1);
    color: rgba(255,255,255,1);       
}
.main .player_left .player_buttom span i{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background: url(img/icon_sprite.png);
    vertical-align: -3px;
    opacity: 0.6;
}
.main .player_left .player_buttom span:hover i{
    opacity: 1;
}
.main .player_left .player_buttom .btn_ico_like{
    background-position: -60px -20px;
    vertical-align: -4px;
}
.main .player_left .player_buttom .btn_ico_add{
    background-position: -20px -20px;
}
.main .player_left .player_buttom .btn_ico_down{
    background-position: -40px -240px;
}
.main .player_left .player_buttom .btn_ico_delet{
    background-position: -100px -20px;
}
.main .player_left .player_buttom .btn_ico_clear{
    background-position: -40px -300px;
}
.main .player_left .player_list{
    height: 72%;
    overflow: auto;
}
.main .player_left .song_list{
    overflow: hidden;
}
.main .player_left .song_header,
.main .player_left .song_list .song{
    position: relative;
    padding-left: 62px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,.05);
}
.main .player_left .song_header li{
    float: left;
}
.main .player_left .player_list .number{
    position: absolute;
    line-height: 50px;
    text-align: right;
    left: 16px;
    width: 36px;
}
.main .player_left .player_list .number_bg{
    background: url(img/wave.gif) no-repeat;
    font-size: 0;
    top: 50%;
    left: 40px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
}
.main .player_left .player_list .checkbox{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    border: 1px solid #c9c9c9;
    border-color: rgba(255,255,255,.2);    
}
.main .player_left .player_list .checkbox_bg{
    background: url(img/icon_sprite.png);
    background-position: -60px -80px;
    border-color: rgba(255,255,255,1);        
}
.main .player_left .player_list .checkbox:hover{
    border-color: rgba(255,255,255,1);        
}
.main .player_left .player_list .song_header_name,
.main .player_left .player_list .song_name{
    position: relative;
    width: 64%;
}
.main .player_left .player_list .song_header_author,
.main .player_left .player_list .song_author{
    width: 26%;
}
.main .player_left .song_list{
    border-bottom: 1px solid rgba(255,255,255,.05);
}
.main .player_left .song_list li.on{
    color: #fff;
}
.main .player_left .song_list li.on a{
    color: #fff;
}
.main .player_left .song_list div{
    float: left;
}
.main .player_left .song_list .song_author a{
    color: rgba(225,225,225,.8);       
}
.main .player_left .song_list .song_author a:hover{
    color: rgba(255,255,255,1);          
}
.main .player_left .song_name .song_btn{
    display: none;
    position: absolute;
    right: 15px;
    top: 7px;
}
.main .player_left .song_name .song_btn i,
.main .player_left .song .song_time i{
    float: left;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: url(img/icon_list_menu.png) no-repeat;
}
.main .player_left .song .song_time .delete{
    display: none;
    margin-top: 7px;
}
.main .player_left .song_name .song_btn i.stop{
    background-position: -80px 0;
}
.main .player_left .song_name .song_btn i.start{
    background-position: -80px -200px;
}
.main .player_left .song_name .song_btn i.add{
    background-position: -80px -80px;
}
.main .player_left .song_name .song_btn i.down{
    background-position: -80px -120px;
}
.main .player_left .song_name .song_btn i.share{
    background-position: -80px -40px;
}
.main .player_left .song .song_time i.delete{
    background-position: -80px -160px;
}
.main .player_left .song_name .song_btn i.stop:hover{
    background-position: -120px 0;
}
.main .player_left .song_name .song_btn i.start:hover{
    background-position: -120px -200px;
}
.main .player_left .song_name .song_btn i.add:hover{
    background-position: -120px -80px;
}
.main .player_left .song_name .song_btn i.down:hover{
    background-position: -120px -120px;
}
.main .player_left .song_name .song_btn i.share:hover{
    background-position: -120px -40px;
}
.main .player_left .song .song_time i.delete:hover{
    background-position: -120px -160px;
}
.main .player_left .song_list .song:hover .song_btn,
.main .player_left .song_list .song:hover .song_time .delete{
    display: block;
}
.main .player_left .song_list .song:hover .song_time span{
    display: none;
}
.main .player_left .song_btn_show{
    display: block!important;
}
.main .player_left .text_hide{
    display: none!important;
}
/* 纯净模式 */
.main.concise .player_left{
    display: none;
}
.main.concise .player_right{
    width: 100%;
    font-size: 22px;
    line-height: 58px;
}
.main.concise .player_right .song_info{
    display: none;
}
.main.concise .player_right .lyrics{
    height: 75%;    
    margin-top: 6%;
}
.main.concise .player_right .lyrics li{
    line-height: 58px;
}
.main.concise footer .btn_off{
    background-position: 0 -311px;
}
.main .player_right{
    position: absolute;
    top: 11%;
    right: 0;
    height: 78%;
    width: 340px;
    text-align: center;
    color: rgba(225,225,225,.8);
    line-height: 24px;
}
.main .player_right .song_info .song_img{
    position: relative;
    display: block;
    width: 186px;
    height: 186px;
    margin: 0 auto 15px auto;
}
.main .player_right .song_info .song_img:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 0;
    width: 201px;
    height: 180px;
    background: url(img/album_cover_player.png) 0 0 no-repeat;
}
.main .player_right .song_info .song_img img{
    vertical-align: middle;
    width: 186px;
    height: 186px;
}
.main .player_right .song_info div{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 28px;
}
.main .player_right .song_info div a{
    color: rgba(225,225,225,.8);    
}
.main .player_right .song_info div a:hover{
    color: rgb(255, 255, 255,1);    
}
@media screen and ( max-height: 700px ) {
    #ly{
        height: 25%;     
    }
}
@media screen and ( max-height: 550px ) {
    #ly{
        height: 10%;     
    }
}
@media screen and ( max-height: 400px ) {
    #ly{
        height: 0;     
    }
}
@media screen and ( max-width: 1150px ) {
    .main .player_right{
        display: none;     
    }
    .main.concise .player_right{
        display: block;     
    }
    .main .player_left{
        right: 0;     
    }
}
.main .player_right .lyrics{
    position: relative;
    width: 100%;
    height: 40%;    
    margin-top: 11%;
    overflow: hidden;
}
.main .player_right .lyrics .box_lyc{
    position: absolute;
    width: 100%;
}
.main .player_right .lyrics .lys{
    margin: 8 auto;
    width: 100%;
    line-height: 34px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.main .player_right .lyrics li.on{
    color: #31c27c;
}
.main footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11%;
}
.main footer span{
    position: absolute;
    background: url(img/player.png);
    cursor: pointer;
    opacity: 0.8;    
}
.main footer span:hover{
    opacity: 1;
}
.main footer span.btn_prev{
    top: 4px;
    left: 0;
    width: 19px;
    height: 20px;
    background-position: 0 -30px;
}
.main footer span.btn_stop{
    top: 0;
    left: 65px;
    width: 21px;
    height: 29px;
    background-position: 0 0;
}
.main footer .loading{
    display: none;
    position: absolute;
    top: -46px;
    left: 18px;
    padding-left: 40px;
    height: 20px;
    width: 100px;
    background: url(img/loading.gif) left/contain no-repeat;
    color: rgba(255, 255, 255,.4);
}
.main footer span.btn_start{
    background-position: -30px 0;
}
.main footer span.btn_next{
    top: 4px;
    left: 132px;
    width: 19px;
    height: 20px;
    background-position: 0 -52px;
}
.main footer .music_pogress{
    position: relative;
    margin: 0 448px 0 208px
}
.main footer .progress{
    padding-top: 6px;
    height: 8px;
    cursor: pointer;
}
.main footer .music_pogress .line,
.main footer .music_pogress .bigline{
    position: absolute;
    top: 25px;
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,.2);
}
.main footer .music_pogress .bigline{
    width: 0;
    background: rgba(255,255,255,.8);
}
.main footer .music_pogress .bigline .dotted{
    position: absolute;
    top:-4px;
    right: -5px;
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);    
    border-radius: 50%;
}
.main footer .music_pogress .music_text,
.main footer .music_pogress .music_text a{
    color: rgba(225,225,225,.8);       
}
.main footer .music_pogress .music_text a:hover{
    color: rgba(255,255,255,1);       
}
.main footer .music_pogress .music_text .text_right{
    position: absolute;
    right: 0;
    top: 0;
}
.main footer .btn_order{
    top: 4px;
    right: 378px;
    width: 26px;
    height: 25px;
    background-position: 0 -232px;
}
.main footer .btn_like{
    top: 4px;
    right: 330px;
    width: 23px;
    height: 21px;
    background-position: 0 -96px;
}
.main footer .btn_down{
    top: 4px;
    right: 286px;
    width: 22px;
    height: 21px;
    background-position: 0 -120px;
}
.main footer .btn_comment{
    top: 3px;
    right: 237px;
    width: 24px;
    height: 24px;
    background-position: 0 -400px;
}
.main footer .btn_off{
    top: 3px;
    right: 137px;
    width: 74px;
    height: 26px;
    background-position: 0 -282px;
}
.main footer .music_sound{
    position: absolute;
    top: 0;
    right: 0;
    height: 21px;
    width: 111px;
}
.main footer .music_sound .sound{
    position: absolute;
    margin-right: 31px;    
    top: 4px;
    left: 0;
    width: 26px;
    height: 21px;
    background: url(img/player.png);
    background-position: 0 -144px;
}
.main footer .music_sound .sound_no{
    background-position: 0 -182px;
}
.main footer .music_sound .progress{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    margin-top: 5px;
    height: 14px;
}
.main footer .music_sound .progress .line{
    position: absolute;
    right: 0;
    top: 10px;
    width: 80px;
    height: 2px;
    background: rgba(255,255,255,.2);
}
.main footer .music_sound .progress .bigline{
    position: absolute;
    left: 0;
    top: 10px;
    width: 50%;
    height: 2px;
    background: rgba(255,255,255,1);
}
.main footer .music_sound .progress .bigline .dotted{
    position: absolute;
    top:-4px;
    right: -5px;
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);    
    border-radius: 50%;
}
/* .main footer audio{
    display: none;
} */
.bg_player, .bg_player_mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;        
}
.bg_player{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(65px);
    opacity: .6;
}
.bg_player_mask {
    background-color: rgba(0,0,0,.85);
}
._mCS_1 .mCSB_dragger .mCSB_dragger_bar{
    width: 7px; 
}
/* 弹框提示 */
.t-ico{
    display: block;
    background-image: url(img/icon_popup.png);
}
.hid_tips{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    color: #333;
}
.hid_tips .tips_cnt{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -117.5px;
    margin-left: -260px;
    height: 235px;
    width: 520px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.hid_tips .tips_cnt .tips_header{
    line-height: 55px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
}
.hid_tips .tips_cnt .tips_header .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 12px;
    width: 12px;
    background-position: 0 -200px;
    cursor: pointer;
}
.hid_tips .tips_cnt .tips_header .close-btn:hover{
    background-position: -14px -200px;
}
.hid_tips .tips_cnt .tips_body{
    position: relative;
    margin-top: 30px;
    padding: 0 108px 28px;
    line-height: 41px;
}
.hid_tips .tips_cnt .tips_body .ico_tips{
    position: absolute;
    left: 40px;
    width: 48px;
    height: 48px;
}
.hid_tips .tips_cnt .tips_footer{
    padding: 20px 20px 0 0;
    text-align: right;
}
.hid_tips .tips_cnt .tips_footer button{
    width: 120px;
    line-height: 38px;
    margin-left: 10px;
    cursor: pointer;
}
.hid_tips .tips_cnt .tips_footer .btn_confirm{
    background-color: #31c27c;
    border: 1px solid #31c27c;
    color: #fff;
}
.hid_tips .tips_cnt .tips_footer .btn_confirm:hover{
    background-color: #2caf6f; 
}
.hid_tips .tips_cnt .tips_footer .btn_cancel{
    background-color: #fff;
    border: 1px solid #c9c9c9;    
}
.hid_tips .tips_cnt .tips_footer .btn_cancel:hover{
    background-color: #ededed;
}
.tips-sm{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -120px;
    width: 240px;
    height: 150px;
    background-color: rgba(0,0,0,.5);
    border-radius: 3px;
}
.tips-sm i{
    display: block;
    width: 46px;
    height: 46px;
    margin: 30px auto;
    background-position: 0 -220px;
}
.tips-sm p{
    color: #fff;
    text-align: center;
}